// Global variable overrides. Must be declared before importing Valo.
$v-font-size: 22px;
$v-background-color: rgb(150,150,200);

// This only includes styles for the grid widget
$v-included-components: grid;

@import "com/vaadin/themes/valo/_valo.scss";

.mytheme {
	@include valo;
}
